<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Team Raptorsaur</title>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/main-site.min.css">
  <script src="/js/site.min.js"></script>
</head>
<body>
  <div class="wrapper">
    <div class="container">
      <section>
        <h1>Hello Raptorsaurs</h1>
        <img src="/images/raptorsaur-cropped.png">
      </section>
      <section>
        <h2>A community for freelancers and creatives</h2>
        <p>...todo... When my friends and I left our day jobs to freelance, we missed slacking and hipchatting with our colleagues. We missed the daily camaraderie, the knowledge sharing, the business tips, the invitations to meetups and social events. Okay, the truth is, we were suffering withdrawal from cute puppy gifs and Chuck Norris memes.
          Want to join? Introduce yourself! Just use the   widget to chat with us.</p>
      </section>
    </div>
  </body>
  </html>