<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Team Raptorsaur</title>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/main-site.min.css">
  <script src="/js/site.min.js"></script>
</head>
<body>
  <!-- todo: template these -->
  <div class="wrapper page-about page-type-text">
    <div class="container">
      <section class="header">
        <div class="left">
          <a href="/">
            <h3 class="h1">Raptorsaur</h3>
          </a>
          <h4 class="h4">A community of freelancers and creatives</h4>
        </div>
        <ul class="right nav">
          <!-- <li>
            <a href="/">Home</a>
          </li> -->
          <li class="active">
            <a href="/about">About Us</a>
          </li>
          <li>
            <!-- this will later move to blog.raptorsaur.com -->
            <a href="https://medium.com/raptorsaur" target="_blank">Blog</a>
          </li>
          <li class="instagram-link">
            <a href="https://www.instagram.com/the_raptorsaurs/" target="_blank">
              <img src="/images/instagram-icon.png">
            </a>
          </li>
        </ul>
      </section>
      <section class="text-section">
        <div class="image-wrap">
          <img class="splash-img" src="/images/raptorsaur-web.png">
        </div>
        <h1 class="h2">
          About the Raptorsaurs
        </h1>
        <p>
          Raptorsaur is a community of freelancers and creatives.
        </p>
        <p>
          When my friends and I left our day jobs to freelance, we missed the daily camaraderie of our office communities. We missed the water cooler chatter and happy-hours. We missed the slack chats. We missed the knowledge sharing, business tips, and invitations to meetups.
        </p>
        <p>
          Okay, the truth is, we were suffering withdrawal from puppy gifs and meme jokes.
        </p>
        <p>
          So a community was born. And it was named Raptorsaur; no one remembers why, but we think it's funny.
        </p>
      </section>
      <section class="text-section">
        <h4>
          Contact us
        </h4>
        <p>
          Give us a shout! <a href="mailto:hello@raptorsaur.com?Subject=Oh%20hi!" target="_top">hello@raptorsaur.com</a>
        </p>
      </section>
    </div>
  </body>
  </html>