<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Team Raptorsaur</title>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/main-site.min.css">
  <script src="/js/site.min.js"></script>
</head>
<body>
  <div class="wrapper">
    <div class="container">
      <section>
        <h1>Hello Raptorsaurs</h1>
        <img src="/images/raptorsaur-cropped.png">
      </section>
      <section>
        <h2>A community for freelancers and creatives</h2>
        <a href="/about">about</a>
      </section>
    </div>
  </body>
  </html>