<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Team Raptorsaur</title>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/main-site.min.css">
  <script src="/js/site.min.js"></script>
</head>
<body>
  <!-- todo: template these -->
  <div class="wrapper page-home">
    <div class="container">
      <section class="header">
        <div class="left">
          <h1 class="h1">
            <a href="/" class="nav-link nav-headline">
              Raptorsaur
            </a>
          </h1>
          <h2 class="h4">A community of freelancers and creatives</h2>
        </div>
        <ul class="right nav">
          <!-- <li class="active">
            <a href="/">Home</a>
          </li> -->
          <li>
            <a href="/about" class="nav-link">About Us</a>
          </li>
          <li>
            <!-- this will later move to blog.raptorsaur.com -->
            <a href="https://medium.com/raptorsaur" target="_blank" class="nav-link">Blog</a>
          </li>
          <li class="dinosaur-news">
            <a href="/dinosaur-news" class="nav-link">Dinosaur News</a>
          </li>
          <li class="instagram-link">
            <a href="https://www.instagram.com/raptorsaur" target="_blank" class="nav-link">
              <img src="/images/instagram-icon.png">
            </a>
          </li>
        </ul>
      </section>
      <section class="splash-img-wrap">
        <figure class="splash-img">
          <a href="/about">
            <img src="/images/raptorsaur-web.png">
            <figcaption class="force-justify">
              Roar. Chomp. Work, work, work, work, work, work. <span class="no-wrap">Build stuff.</span> Chill.
            </figcaption>
          </a>
        </figure>
      </section>
    </div>
  </body>
  </html>