<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Team Raptorsaur</title>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/main-site.min.css">
  <script src="/js/site.min.js"></script>
</head>
<body>
  <!-- todo: template these -->
  <div class="wrapper page-home">
    <div class="container">
      <section class="header">
        <div class="left">
          <a href="/">
            <h1 class="h1">Raptorsaur</h1>
          </a>
          <h2 class="h4">A community of freelancers and creatives</h2>
        </div>
        <ul class="right nav">
          <li class="active">
            <a href="/">Home</a>
          </li>
          <li>
            <!-- this will later move to blog.raptorsaur.com -->
            <a href="https://medium.com/raptorsaur">Blog</a>
          </li>
          <li>
            <a href="/about">About Us</a>
          </li>
        </ul>
      </section>
      <section class="splash-img-wrap">
        <a href="/about">
          <img class="splash-img" src="/images/raptorsaur-web.png">
        </a>
      </section>
    </div>
  </body>
  </html>