{>"index"/}

{<page_theme}orange{/page_theme}

{<page_body}
<div class="page page-about js-page">
  <div class="container">
    <div class="page-content">
      <h3 class="h3 header-eyebrow">
        from yesterday to today
      </h3>
      <h1 class="h1">about us</h1>
      <div class="page-content-inner">
        <p>
          When we left our day jobs to freelance, we missed the daily camaraderie of our office communities. We missed the water cooler chatter and happy-hours. We missed the knowledge sharing, business tips, and meetup invitations.
        </p>
        <p>
          Okay, the truth is, we were suffering withdrawal from <a href="/images/puppies.gif" target="_blank" rel="nofollow">puppy gifs</a> and <a href="/images/full-of-win.jpeg" target="_blank" rel="nofollow">meme humor</a>.
        </p>
        <p>
          So a community was born, and we called it Raptorsaur.
        </p>
        <p>
          Today, we are nearly 100 members across the US. Working with Raptorsaur means that we’ll put together the most well-equipped team for your project. And when we get the chance to work together, magic happens.
        </p>
      </div>
    </div>
  </div>
</div>
{/page_body}