{>"index"/}

{<page_theme}orange{/page_theme}

{<page_body}
<div class="page page-contact js-page">
  <div class="container">
    <div class="page-content">
      <h3 class="h3 header-eyebrow">
        start a convo
      </h3>
      <a href="{mailtoHref}" target="_blank" rel="nofollow">
        <h1 class="h1">
          hello@raptorsaur.com
        </h1>
      </a>
      <div class="page-content-inner no-indent">
        <div class="row">
          <div class="col s12 l8">
            <a href="https://www.google.com/maps/d/u/0/edit?hl=en&authuser=0&mid=1DEL1PBdCedpBzHcCNIC4yLd51FE&ll=40.72933325982446%2C-73.95904404999999&z=18" target="_blank" rel="nofollow">
              <img class="neighborhood-map" src="/images/raptorsaur-office-map.png">
            </a>
          </div>
          <div class="col s12 l4">
            <div class="neighborhood-address">
               <h4 class="h3 header-eyebrow">
                ... even better, swing by
              </h4>
              <h2 class="h1 h1-sm">
                67 West Street
                <br>
                Brooklyn, NY
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{/page_body}