{>"index"/}

{<page_body}
<div class="page page-home js-page">
  {>"./partials/header"/}
  <div class="container">
    <div class="bg-img splash-img"
      style="background-image: url(/images/hero-webcam.png)"
    >
    </div>
    <div class="page-content">
      <a class="info-tooltip js-info-tooltip" href="#">
        <span>i</span>
      </a>
      <h1 class="h1">
        We help solve human-centered problems to make everyday life a little bit better.
      </h1>
      <div class="info-content js-info-content hide">
        <p>
          Different days mean different sky colors. That’s why we designed a smart headline that picks out it’s own color every day for easiest readability.
        </p>
        <p>
          <a href="#">Find out how we did this, and how you can do it, too.</a>
        </p>
      </div>
      <div class="footer-tag">
        Live from the Raptorsaur Nest
      </div>
    </div>
  </div>
</div>
{/page_body}