{>"index"/}

{<page_theme}green{/page_theme}

{<page_body}
<div class="page page-team js-page">
  <div class="container">
    <div class="page-content">
      <h3 class="h3 header-eyebrow">
        dino-captains
      </h3>
      <h1 class="h1">the raptorsaurs</h1>
      <div class="page-content-inner">
        <div class="face-pile">
          <div class="face-card">
            <a href="https://www.linkedin.com/in/erchaves/" target="_blank" rel="nofollow">
              <img src="/images/team-temp-eric-c.jpg">
              <span class="name">Eric Chaves</span>
              <span class="title">Founder, Technologist</span>
            </a>
          </div>
          <div class="face-card">
            <a href="https://www.linkedin.com/in/mollykerdmann/" target="_blank" rel="nofollow">
              <img src="/images/team-temp-molly.jpg">
              <span class="name">Molly Erdmann</span>
              <span class="title">Founder, Design Director</span>
            </a>
          </div>
          <div class="face-card">
            <a href="https://www.linkedin.com/in/solisgreg/" target="_blank" rel="nofollow">
              <img src="/images/team-temp-greg.jpg">
              <span class="name">Greg Solis</span>
              <span class="title">Strategist, UX Designer</span>
            </a>
          </div>
          <div class="face-card">
            <a href="https://www.linkedin.com/in/eric-say-3b994320/" target="_blank" rel="nofollow">
              <img src="/images/team-temp-eric-s.jpg">
              <span class="name">Eric Say</span>
              <span class="title">Motion Designer</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{/page_body}
