{>"index"/}

{<page_theme}blue{/page_theme}

{<page_body}
<div class="page page-work js-page">
  <div class="container">
    <div class="page-content">
      <h3 class="h3 header-eyebrow">
        brands we've touched
      </h3>
      <h1 class="h1">{appData.route}</h1>
      <div class="page-content-inner">
        <p>
          Every project stretches different muscles. If you're looking here to see what we’ve been up to, <a href="{mailtoHref}">reach out!</a> We’ll be happy to put together a series of case studies and ideas that suit your project best.
        </p>
      </div>
    </div>
  </div>
</div>
{/page_body}