// example of styles specfic to page
.page-home {
  .splash-img {
    // todo: check this solution
    z-index: -1;
    background-position: 50% 100%;
  }

  .h1 {
    color: $color-grey;
  }

  .info-tooltip {
    @include h2();

    background: $color-white;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    height: $info-tooltip-size;
    width: $info-tooltip-size;
    opacity: .5;
    color: $color-blue;
    margin-left: -$info-tooltip-size * 2;

    &:hover {
      opacity: 1;
    }

    span {
      @include center-both();
    }
  }

  .info-content {
    padding: 2rem 2.75rem;
    background: $color-white;
    line-height: $line-height-site;

    // todo: consider UX, link colors should be consistent
    // a {
    //   color: $color-blue;
    // }
  }

  .footer-tag {
    @include center-h();

    top: 100%;
    margin-top: -$footer-tag-border-radius;
    background: $color-green;
    border-radius: $footer-tag-border-radius;
    padding: 1rem .75rem;
    text-align: center;
  }
}
