.page {
  .h1 {
    font-size: $font-size-h1;
    letter-spacing: $letter-spacing-h1;
    line-height: $line-height-site;
    margin-bottom: 3.125rem;
    color: $color-orange;
  }

  .header-eyebrow {
    color: $color-blue;
    font-size: $font-size-site;
  }

  // temp demo styles
  .section-header {
    width: 100%;
    text-align: right;

    .links a {
      line-height: $font-size-site * 4;
      display: inline-block;
      margin: 0 .5rem;
    }
  }

  .btn-modal-show {
    margin-top: 10vh;
  }

  .page-content {
    padding: 6rem 5rem;
  }

  .page-content-inner {
    margin-left: 7.5rem;

    p {
      max-width: 40rem;
    }
  }
}
