.page {

  &.page-about {
    // todo: quick fix
    .h2 {
      margin: $margin-bottom-md-std 0;
    }
  }

  &.page-work {
    .brands-list {
      max-width: $section-max-width;
      text-align: center;

      img {
        width: 12rem;
        position: relative;
      }
    }
  }

  .h1 {
    font-size: $font-size-h1;
    letter-spacing: $letter-spacing-h1;
    line-height: 1.125em;
    margin-bottom: 3.125rem;
    color: $color-orange;
  }
  .h1-sm {
    font-size: 3.375rem;
  }

  .h2 {
    font-size: $font-size-h2;
    margin-bottom: $margin-bottom-md-std;
  }

  .header-eyebrow {
    color: darken($color-green, 5%);
    font-size: $font-size-site;
  }

  // temp demo styles
  .section-header {
    width: 100%;
    text-align: right;

    .links a {
      line-height: $font-size-site * 4;
      display: inline-block;
      margin: 0 .5rem;
    }
  }

  .btn-modal-show {
    margin-top: 10vh;
  }

  .page-content {
    padding: 6rem 5rem 4rem 5rem;
  }

  .page-content-inner {
    &.no-indent {
      margin-left: 0;
    }

    margin-left: 7.5rem;

    p {
      max-width: $section-max-width;
    }
  }
}
