@import 'variables.scss';

@include stickyfooter();

html {
  font-size: $font-size-base;
}

body {
  background: $color-white;
  color: $color-grey;
  font-family: $font-site;
  font-size: $font-size-site;
  font-weight: $font-weight-site;
  margin: 0;
  padding: 0;

  // the default is green
  &.theme-blue {
    @include page-theme($color-blue);
  }
  &.theme-orange {
    @include page-theme($color-orange);
  }
}

a {
  &:hover,
  &:visited,
  &:link,
  &:active
  {
    text-decoration: none;
  }
}

p {
  line-height: $line-height-site;
  margin-bottom: $margin-bottom-std;
}

.h1,
.h2,
.h3,
.h4 {
    margin: 0;
    word-wrap: break-word;
}

.bg-img {
  @include full-size-img();
}
