@import '../config';
@import '../mixins';

// temp tests
body {
  background: $color-bg;
}

img {
  width: $unit * 20;
}

h1 {
  margin-bottom: $unit * 2;
}
// end tests

section {
  margin-bottom: $unit;
}
