@import '../vars';
@import '../mixins';

.page-home {
  .splash-img-wrap {
    text-align: center;
  }

  .splash-img {
    display: block;
    margin: 0 auto;

    img {
      width: 100%;
    }
  }

  figcaption {
    display: block;
    font-style: italic;
    font-weight: 300;
    font-size: .85em;
    margin: 1em 0;
    padding: 0 .5em;

    &.force-justify {
      text-align: justify;

      &:after {
        content: " ";
        display: inline-block;
        width: 100%;
      }
    }
  }
}