@import '../vars';
@import '../mixins';

.page-home {
  .splash-img-wrap {
    text-align: center;
  }

  .splash-img {
    display: block;
    margin: 0 auto;

    img {
      width: 100%;
    }
  }

  figcaption {
    display: block;
    font-style: italic;
    font-weight: 300;
    font-size: .8em;
  }
}