<footer class="section-footer">
  <div class="section-footer-inner">
    <span class="contact-us">
      <a href="{mailtoHref}" target="_blank" rel="nofollow">
        hello@raptorsaur.com
      </a>
    </span>
    <span class="social-icons">
      <a href="https://www.behance.net/Raptorsaur" target="_blank" rel="nofollow">
        <img src="/images/linkedin-logo.svg">
      </a>
      <a href="https://www.instagram.com/raptorsaur/" target="_blank" rel="nofollow">
        <img src="/images/instagram-logo.svg">
      </a>
    </span>
  </div>
</footer>
