<div class="section-header">
  <div class="navigation js-navigation">
    <a class="nav-toggle js-nav-toggle hide-on-large-only" href="#">
      <i class="bar bar-1"></i>
      <i class="bar bar-2"></i>
      <i class="bar bar-3"></i>
      <i class="bar bar-4"></i>
    </a>
    <nav class="nav js-nav">
      <a
        href="/"
        class='nav-item {#isActiveSegment segment="home"}active{/isActiveSegment}'
      >
        <img class="logo-home logo-inactive" src="/images/raptorsaur-logo.svg">
        <img class="logo-home logo-active hide" src="/images/raptorsaur-logo-white.svg">
      </a>
      <a
        href="/work"
        class='nav-item {#isActiveSegment segment="work"}active{/isActiveSegment}'
      >Work</a>
      <a
        href="/about"
        class='nav-item {#isActiveSegment segment="about"}active{/isActiveSegment}'
      >About</a>
      <a
        href="/people"
        class='nav-item {#isActiveSegment segment="people"}active{/isActiveSegment}'
      >People</a>
      <a
        href="/events"
        class='nav-item {#isActiveSegment segment="events"}active{/isActiveSegment}'
      >Events</a>
      <a
        href="/contact"
        class='nav-item {#isActiveSegment segment="contact"}active{/isActiveSegment}'
      >Contact</a>
    </nav>
  </div>
</div>
