<div class="section-header">
  <div class="main-menu menu">
    <a
      href="/"
      class='menu-item {#isActiveSegment segment="home"}active{/isActiveSegment}'
    >Home</a>
    <a
      href="/work"
      class='menu-item {#isActiveSegment segment="work"}active{/isActiveSegment}'
    >Work</a>
    <a
      href="/about"
      class='menu-item {#isActiveSegment segment="about"}active{/isActiveSegment}'
    >About</a>
    <a
      href="/people"
      class='menu-item {#isActiveSegment segment="people"}active{/isActiveSegment}'
    >People</a>
    <a
      href="/events"
      class='menu-item {#isActiveSegment segment="events"}active{/isActiveSegment}'
    >Events</a>
    <a
      href="/contact"
      class='menu-item {#isActiveSegment segment="contact"}active{/isActiveSegment}'
    >Contact</a>
  </div>
</div>
