@import 'vars';

@media (max-width: $responsive-size-md) {
  .wrapper {
    font-size: .9em;
  }

  .container {
    padding: 0 $unit;
  }

  .header .h4 {
    display: none;
  }
}

@media (max-width: $responsive-size-sm) {
  .wrapper {
    font-size: .6em;
    padding-top: $page-padding-sm;
  }

  .container {
    padding: 0 $page-padding-sm;
  }
}