$unit: 16px;
$gutter: $unit;
$container-width: $unit * 64;
$black: #000;
$color-fg: #333;
$color-bg: #ffffff;
$font-family: 'Open Sans', sans-serif;
$page-padding: 4%;
$page-padding-sm: $unit * 1.5;
$responsive-size-md: 800px;
$responsive-size-sm: 500px;