@import 'vars';
@import 'mixins';

.header {
  width: 100%;
  line-height: $unit * 3;
  margin-bottom: $unit * 4;

  .h1 {
    margin-bottom: $unit * .25;
    line-height: 1em;
    // make it the same width as the tagline
    font-size: 3.66em;
    // make it feel aligned
    margin-left: -0.08em;
  }

  .h4 {
    font-size: 1em;
    letter-spacing: 0;
  }

  .nav {
    li {
      display: inline-block;
      padding-left: 1em;
      font-weight: 600;

      a {
        line-height: 2em;
      }

      &.active a {
        color: $black;
      }
    }
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }
}
