@import 'vars';
@import 'global';

// Elements
@import 'header';

// Pages
@import 'pages/home';
@import 'pages/page-type-text';

.wrapper {
  font-size: $unit;
  padding-top: $page-padding;
}

.container {
  padding: 0 $page-padding;
}

.text-section {
  max-width: 600px;

  .image-wrap {
    // margin: ($unit * 2)
  }

  p {
    margin-bottom: $unit;
    line-height: 1.5em;
  }
}

.splash-img {
  width: 60%;
}

.instagram-link {
  a {
    position: relative;
    opacity: .8;
    // make it feel better spaced
    margin-left: 4px;

    &:hover {
      opacity: 1;
    }
  }

  img {
    width: 1.25em;
    // make it feel better spaced
    top: 3px;
    position: relative;
  }
}

// put this at the end
@import 'responsive';
